*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Londrina Shadow', cursive;
}

body {
    background: linear-gradient(rgba(50,0,0,0.3),rgba(50,0,0,0.3)),
    url(https://subtlepatterns.com/patterns/wood_pattern.png);
    color: snow;
}

h1 {
    text-align: center;
    font-size: 70px;
}


.game {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 550px;
    height: 500px;
    background: blue;
    border: 1px solid black;
    box-shadow: 5px 5px black;
}


.slot {
    width: 70px;
    height: 70px;
    background: white;
    border: 1px solid black;
    border-radius: 55%;
}

.slot:hover {
    background-color: grey;
}

.reset {
    position: absolute;
    top: 95vh;
    left: 50%;
    transform: translate(-50%);
    border: 4px solid  snow;
    color: black;
    width: 60px;
    text-align: center;
    background-color: white;
    cursor: pointer;
}
